<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamico 1</title>
</head>
<body>

    <h2>Esto es un archivo dinámico 1</h2>
    <h4>Este es el subtítulo</h4>
    <a href="/rutaDinamica2">Ir a segunda página dinámica</a><br>
    <form method="post" action="/rutaDinamica">
        <label for="">Crear: <input type="text" name="create"></label>
        <input type="submit" value="post">
    </form>
    
</body>
</html>